<h1>Цвета для внешних панелей</h1>
    <div id="demo" class="clearfix">
<table class="display" id="example">
  <thead>
      <tr>
        <th>Название</th>
        <th>Стоимость</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
  </thead>

  <tbody>
        <% @externalcolors.each do |externalcolor| %>
          <tr>
            <td><%= externalcolor.name %></td>
            <td class="center"><%= externalcolor.cost %></td>
            <td class="center"><%= link_to 'Просмотреть', externalcolor %></td>
            <td class="center"><%= link_to 'Редактрировать', edit_externalcolor_path(externalcolor) %></td>
            <td class="center"><%= link_to 'Удалить', externalcolor, :confirm => 'Are you sure?', :method => :delete %></td>
          </tr>
        <% end %>
  </tbody>
</table>
</div>
<br />

<h6><%= link_to 'Добавить новый цвет', new_externalcolor_path %></h6>
