<%= form_for(@dopoption) do |f| %>
  <% if @dopoption.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dopoption.errors.count, "error") %> prohibited this dopoption from being saved:</h2>

      <ul>
      <% @dopoption.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
