<%= form_for(@externalpanel, :html => {:multipart => true}) do |f| %>
  <% if @externalpanel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@externalpanel.errors.count, "error") %> prohibited this externalpanel from being saved:</h2>

      <ul>
      <% @externalpanel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </div>



    <div>
      <%= f.label 'Изображение для калькулятора' %> <br/>
      <%= f.file_field :photo %>
    </div>
    <br/>
    <div>
      <%= image_tag @externalpanel.photo.url %>
    </div>
    <br/>

    <br/>
    <div>
      <%= f.label 'Изображение для каталога' %>   <br/>
      <%= f.file_field :image %>
    </div>
    <br/>
    <div>
      <%= image_tag @externalpanel.image.url %>
    </div>
    <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
