<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @externalpanel.name %>
</p>

<p>
  <b>Cost:</b>
  <%= @externalpanel.cost %>
</p>


<%= link_to 'Edit', edit_externalpanel_path(@externalpanel) %> |
<%= link_to 'Back', externalpanels_path %>
