<h1>Цвета для внутренних панелей</h1>
    <div id="demo" class="clearfix">
<table class="display" id="example">
  <thead>
      <tr>
        <th>Название</th>
        <th>Стоимость</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
  </thead>

  <tbody>
        <% @internalcolors.each do |internalcolor| %>
          <tr>
            <td><%= internalcolor.name %></td>
            <td class="center"><%= internalcolor.cost %></td>
            <td class="center"><%= link_to 'Просмотреть', internalcolor %></td>
            <td class="center"><%= link_to 'Редактрировать', edit_internalcolor_path(internalcolor) %></td>
            <td class="center"><%= link_to 'Удалить', internalcolor, :confirm => 'Are you sure?', :method => :delete %></td>
          </tr>
        <% end %>
  </tbody>
</table>
</div>
<br />

<h6><%= link_to 'Добавить новый цвет', new_internalcolor_path %></h6>
