<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @internalcolor.name %>
</p>

<p>
  <b>Cost:</b>
  <%= @internalcolor.cost %>
</p>


<%= link_to 'Edit', edit_internalcolor_path(@internalcolor) %> |
<%= link_to 'Back', internalcolors_path %>
